site_name: Eclipse Conformity Assessment Policy and Credential Profile - Ontology
repo_url: https://github.com/eclipse-dataspace-cap/cap-ontology
theme:
  name: material
  logo: figures/Stack-Colour-RGB-logo-alone.png
  favicon: figures/Stack-Colour-RGB-logo-alone.png
  palette:
    primary: deep purple
    accent: blue
  features:
    - content.tooltips
    - content.code.annotate
    - content.code.copy
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.path
    - navigation.indexes
  
extra:
  version: !ENV [VERSION, "0.0.0"]

nav:
  - Introduction:
    - README.md
    - Scope: scope.md
    - Normative References: normative_references.md
    - Terms and Definitions: terms_definitions.md
    - Abbrevatied Terms: abbreviations.md
  - Conformity Assessment:
    - Conformity Assessment Semantic Model: conformity_model.md #  defines a semantic model for conformity assessment terms (declaration, certification, attestation, accreditation, claim, evidence, requirement, ...)
    - Conformity Assessment Credential: conformity_credential.md #  defines an entity-relationship model and VC schemas of the above terms and the consequences for the policies (Example; if the holder of a credential is the issuer, it's de facto a declaration, independently of credential format and protocol exchange)
    - Conformity Policy: conformity_policy.md # specifies an ODRL profile supporting the use of Verifiable Credentials (VC)
    - Conformity Negotiation: conformity_negotiation.md # defines a semantic and requirements model for VC issuers depending on the type of verifiable credentials used in the policy negotiation (Example; a certification can only be issued by a certification authority or an appointed representative of the certification authority, independently of the certification type, or how to make legally relevant evidence in line with the civil law of obligations.)
  - Ontology:
    - ontology/index.md
    - Classes:
      - ... | flat | ontology/classes/*.md
    - Enums:
      - ... | flat | ontology/enums/*.md
    - Slots:
      - ... | flat | ontology/slots/*.md
    - Types:
      - ... | flat | ontology/types/*.md
  - Annexes: annexes.md

plugins:
  - search
  - git-revision-date-localized:
      enable_creation_date: true
  - glightbox
  - awesome-pages
  - macros

markdown_extensions:
  - abbr
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - tables
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tasklist:
      custom_checkbox: true

